{% extends 'base.html' %}

{% block content %}

<h2>Carrito</h2>

<table class="table">
    {% for key, value in request.session.carrito.items %}
    <tr>
        <td>{{ value.nombre }}</td>
        <td>{{ value.cantidad }}</td>
        <td>
            <a href="{% url 'agregar' key %}" class="btn btn-success btn-sm">+</a>

            <a href="{% url 'restar' key %}" class="btn btn-warning btn-sm">-</a>

            <a href="{% url 'eliminar' key %}" class="btn btn-danger btn-sm">
                Eliminar
            </a>
        </td>
    </tr>
    {% endfor %}
</table>

<a href="{% url 'limpiar' %}" class="btn btn-secondary">
    Vaciar carrito
</a>

<a href="{% url 'confirmar_pedido' %}" class="btn btn-primary">
    Confirmar pedido
</a>

{% endblock %}